<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Angular 4 - The complete guide [Udemy]</h3>
            <hr>
            <app-alerts></app-alerts>
            <!-- <app-servers></app-servers> -->
            <!-- <div app-servers></div> -->
            <hr>
            <div class="app-servers"></div>
            <hr>
            <app-data-binding></app-data-binding>
            <hr>
            <app-directives></app-directives>
            <hr>
        </div>
    </div>
</div>